# Environment
.env
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Cache & temp files
poster_cache/

